#
# Video fonts
#

menu "TrueType Fonts"

config CONSOLE_TRUETYPE_ROBOTO
	bool "Roboto Regular"
	depends on CONSOLE_TRUETYPE
	default y
	help
	  Roboto was created in 2011 by Christian Robertson at Google, and
	  received a significant redesign in 2014. It is a sans-serif grotesque,
	  which is the same classification as Helvetica and Akzidenz-Grotesk.
	  Roboto is the default font on the Android mobile phone operating
	  system.
	  From: https://fontlibrary.org/en/font/roboto
	  License: Apache 2.0
	  https://www.apache.org/licenses/LICENSE-2.0

config CONSOLE_TRUETYPE_ANKACODER
	bool "Anka Coder Narrow"
	depends on CONSOLE_TRUETYPE
	help
	  The Anka/Coder family is a monospaced, courier-width font for source
	  code and terminals, in two styles and weights. Anka/Coder Narrow was
	  developed for printing source code.
	  https://code.google.com/p/anka-coder-fonts/
	  From: https://fontlibrary.org/en/font/anka-coder-narrow
	  License: SIL Open Font Licence
	  http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL

config CONSOLE_TRUETYPE_RUFSCRIPT
	bool "Ruf Script"
	depends on CONSOLE_TRUETYPE
	help
	  A laid-back handwritten font.
	  Font: https://fontlibrary.org/en/font/rufscript
	  License: GPL with font exception
	  http://www.gnu.org/copyleft/gpl.html

config CONSOLE_TRUETYPE_CANTORAONE
	bool "Cantoraone"
	depends on CONSOLE_TRUETYPE
	help
	  Cantora is a friendly semi formal, semi condensed, semi sans-serif
	  with a hint of handwriting. Perfect for headlines.
	  From https://fontlibrary.org/en/font/cantora
	  License: SIL Open Font Licence
	  http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL

endmenu
