if TARGET_SNAPPERMX6

config IMX_CONFIG
	default "board/designa/snappermx6/imximage.cfg"

config SYS_BOARD
	default "snappermx6"

config SYS_VENDOR
	default "designa"

config SYS_CONFIG_NAME
	default "snappermx6"

endif
