// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018, Bin Meng <bmeng.cn@gmail.com>
 *
 * Generic coreboot payload device tree for x86 targets
 */

/dts-v1/;

/include/ "skeleton.dtsi"
/include/ "serial.dtsi"
/include/ "keyboard.dtsi"
/include/ "reset.dtsi"
/include/ "rtc.dtsi"
/include/ "tsc_timer.dtsi"

/ {
	model = "coreboot x86 payload";
	compatible = "coreboot,x86-payload";

	aliases {
		serial0 = &serial;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
	};

	binman {
	};

	config {
		silent_console = <0>;
	};

	chosen {
		stdout-path = "/serial";
	};

	tsc-timer {
		clock-frequency = <1000000000>;
	};

	pci {
		compatible = "pci-x86";
		u-boot,dm-pre-reloc;
	};

	coreboot-fb {
		compatible = "coreboot-fb";
	};

	i2c0: i2c0 {
		compatible = "snps,designware-i2c";
		reg = <0xfedc2000 1000>;
		clock-frequency = <400000>;
	};

	i2c1: i2c1 {
		compatible = "snps,designware-i2c";
		reg = <0xfedc3000 1000>;
		clock-frequency = <400000>;
		#address-cells = <1>;
		#size-cells = <0>;

		tpm {
			reg = <0x50>;
			compatible = "google,cr50";
			u-boot,i2c-offset-len = <0>;
			busy-gpio = <>;
		};
	};

	i2c2: i2c2 {
		compatible = "snps,designware-i2c";
		reg = <0xfedc4000 1000>;
		clock-frequency = <400000>;
	};

	i2c3: i2c3 {
		compatible = "snps,designware-i2c";
		reg = <0xfedc5000 1000>;
		clock-frequency = <400000>;
	};
};
