# SPDX-License-Identifier: GPL-2.0+
#
# Copyright 2018 Google LLC
#

config FWSTORE_SPI_FLASH
	bool "Firmware storage driver that uses SPI flash"
	help
	  This provides a driver for firmware storage that uses SPI flash.
	  The device typically has a read-only portion (controlled by a write-
	  protect pin and block-protect pins in the SPI-flash status register)
	  and a read-write portion. The latter is used to store upgradeable
	  parts of the firmware.

config SPL_FWSTORE_SPI_FLASH
	bool "Firmware storage driver that uses SPI flash in SPL"
	help
	  This provides a driver for firmware storage that uses SPI flash.
	  The device typically has a read-only portion (controlled by a write-
	  protect pin and block-protect pins in the SPI-flash status register)
	  and a read-write portion. The latter is used to store upgradeable
	  parts of the firmware.

config TPL_FWSTORE_SPI_FLASH
	bool "Firmware storage driver that uses SPI flash in TPL"
	help
	  This provides a driver for firmware storage that uses SPI flash.
	  The device typically has a read-only portion (controlled by a write-
	  protect pin and block-protect pins in the SPI-flash status register)
	  and a read-write portion. The latter is used to store upgradeable
	  parts of the firmware.

config VPL_FWSTORE_SPI_FLASH
	bool "Firmware storage driver that uses SPI flash in VPL"
	help
	  This provides a driver for firmware storage that uses SPI flash.
	  The device typically has a read-only portion (controlled by a write-
	  protect pin and block-protect pins in the SPI-flash status register)
	  and a read-write portion. The latter is used to store upgradeable
	  parts of the firmware.

config FWSTORE_MMC
	bool "Firmware storage driver that uses MMC"
	help
	  This provides a driver for firmware storage that uses MMC. This is
	  an experimental feature which has not yet been shipped in a
	  Chromebook. The write-protection logic in MMC chips typically does
	  not provided an external hardware pin to control it, which makes it
	  hard to implement Chromium OS verified boot with MMC.
