// SPDX-License-Identifier: GPL-2.0+
/*
 * Sample expo screen layout
 */

/dts-v1/;

/*
enum {
	ID_PROMPT,

	ID_SCENE1,
	ID_SCENE1_TITLE,
	ID_CPU_SPEED_TITLE,
	ID_CPU_SPEED_1,
	ID_CPU_SPEED_2,
	ID_CPU_SPEED_3,
};
*/

/ {
	scenes {
		main {
			id = <ID_SCENE1>;
			title-id = <ID_SCENE1_TITLE>;
			prompt = "UP and DOWN to choose, ENTER to select";

			cpu-speed {
				type = "menu";
				title = "Test menu";
				title-id = <ID_CPU_SPEED_TITLE>;

				items = "one", "two", "three";
				item-ids = <ID_CPU_SPEED_1 ID_CPU_SPEED_2
					ID_CPU_SPEED_3>;
			};
		};
	};

	strings {
		title {
			id = <ID_SCENE1_TITLE>;
			value = "Test Configuration";
			value-es = "configuración de prueba";
		};
	};
};
