// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2017 Texas Instruments Incorporated - http://www.ti.com/
 */

#include "am33xx-u-boot.dtsi"

/ {
	chosen {
		stdout-path = &uart0;
	};
};

&l4_per {

	segment@300000 {

		target-module@e000 {
			u-boot,dm-pre-reloc;

			lcdc: lcdc@0 {
				u-boot,dm-pre-reloc;
			};
		};
	};
};

&uart0 {
	u-boot,dm-spl;
};

&uart0_pins {
	u-boot,dm-spl;
};

&i2c0 {
	u-boot,dm-spl;
};

&i2c0_pins {
	u-boot,dm-spl;
};

&mmc1 {
	u-boot,dm-spl;
};

&mmc1_pins {
	u-boot,dm-spl;
};

&mmc3 {
	status = "disabled";
};

&usb0 {
	dr_mode = "peripheral";
};

&l4_wkup {
	u-boot,dm-spl;
	segment@200000 {
		u-boot,dm-spl;
		target-module@0 {
			u-boot,dm-spl;
		};
		target-module@9000 {
			u-boot,dm-spl;
		};
	};

};

&am33xx_pinmux {
	u-boot,dm-spl;
};

&scm {
	u-boot,dm-spl;
};

&prcm {
	u-boot,dm-spl;
	per-cm@0 {
		u-boot,dm-spl;
	};
	wkup-cm@400 {
		u-boot,dm-spl;
	};
};

&l4_wkup_clkctrl {
	u-boot,dm-spl;
};

&l3_clkctrl {
	u-boot,dm-spl;
};

&prcm_clocks {
	u-boot,dm-spl;
};

&timer1_fck {
	u-boot,dm-spl;
};

&am33xx_pinmux {
	u-boot,dm-spl;
};

&scm {
	u-boot,dm-spl;
};
