CONFIG_X86=y
CONFIG_SYS_MALLOC_F_LEN=0x1000
CONFIG_NR_DRAM_BANKS=8
CONFIG_ENV_SIZE=0x1000
CONFIG_DEFAULT_DEVICE_TREE="efi-x86_app"
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_X86_RUN_64BIT=y
CONFIG_ARCH_EFI_X86=y
CONFIG_DEBUG_UART=y
# CONFIG_AHCI is not set
CONFIG_TARGET_EFI_X86_APP64=y
CONFIG_EFI_CLIENT=y
CONFIG_EFI_APP_64BIT=y
CONFIG_FIT=y
CONFIG_BOOTSTD_FULL=y
CONFIG_SHOW_BOOT_PROGRESS=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/sdb3 init=/sbin/init rootwait ro"
CONFIG_SYS_PBSIZE=532
CONFIG_SYS_CONSOLE_INFO_QUIET=y
# CONFIG_CONSOLE_PAGER is not set
CONFIG_LOG=y
CONFIG_BOARD_EARLY_INIT_R=y
CONFIG_BLOBLIST=y
CONFIG_CMD_LSBLK=y
CONFIG_CMD_CAT=y
CONFIG_CMD_TIME=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_MAC_PARTITION=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="efi"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:0"
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_USE_BOOTFILE=y
CONFIG_BOOTFILE="bzImage"
CONFIG_NO_NET=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
# CONFIG_SCSI is not set
# CONFIG_TPM_V1 is not set
CONFIG_TPM2_EFI=y
CONFIG_VIDEO_COPY=y
CONFIG_CONSOLE_TRUETYPE=y
CONFIG_CONSOLE_TRUETYPE_UBUNTU_LIGHT=y
CONFIG_CONSOLE_TRUETYPE_UBUNTU_BOLD=y
CONFIG_CONSOLE_SCROLL_LINES=5
CONFIG_BMP_16BPP=y
CONFIG_BMP_24BPP=y
CONFIG_CMD_DHRYSTONE=y
CONFIG_TPM=y
CONFIG_ULIB=y
CONFIG_EXAMPLES=y
CONFIG_RUST_EXAMPLES=y
# CONFIG_GZIP is not set
