// SPDX-License-Identifier: GPL-2.0+
/*
 * Chromium OS-specific options for x86
 *
 * Copyright 2018 Google LLC
 */

/ {
	chromeos_dev: chromeos {
	};

	binman {
		chromeos: image {
		};
	};

	chromeos-config {
		tpm-optional;
	};

	fwstore {
		compatible = "google,fwstore-fs";
		filename = "chromeos.rom";
		partition = <0>;
	};
};

&chromeos {
	filename = "image.bin";
	u-boot,dm-spl;
	u-boot,dm-vpl;
	sort-by-offset;
	pad-byte = <0xff>;
	size = <0x800000>;
	compatible = "chromeos,flashmap";
	/* ---- Section: Vital-product data (VPD) ---- */
	read-only-vpd {
		type = "section";
		label-prefix = "ro-";
		read-only;
		align-size = <0x10000>;
		vpd {
			size = <0x4000>;
			type = "fill";
			fill-value = [ff];
		};
	};
	fdtmap {
	};
	read-only {
		u-boot,dm-spl;
		u-boot,dm-vpl;
		type = "section";
		label-prefix = "ro-";
		sort-by-offset;
		read-only;
		fmap {
			align = <0x1000>;
			size = <0x1200>;
		};
		firmware-id {
			u-boot,dm-vpl;
			size = <0x40>;
			type = "text";
			text-label = "frid";
		};

		gbb {
			type = "gbb";
			u-boot,dm-vpl;
			size = <0x3000>;
			expand-size;
			align = <0x1000>;
		};
		locales {
			compatible = "chromeos,locales";
			type = "files";
			pattern = "locales/*";
			require-matches;
			files-compress = "lz4";
			align = <0x40>;

			/* Intel SPI flash driver requires word alignment */
			files-align = <4>;
		};
		boot-rec {
			align = <0x1000>;
			u-boot,dm-vpl;
			type = "u-boot";
			hash {
				u-boot,dm-vpl;
				algo = "sha256";
			};
		};
		u-boot-dtb {
		};
		u-boot-ucode {
		};
	};
};
